.app {
  display: flex;
  align-items: flex-end;
  height: 80vh;
  justify-content: center;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.number-bar {
  padding: 10px;
  background-color: blue;
  margin: 2px;
  text-align: center;
}
