.app {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.number-bar {
  padding: 10px;
  background-color: blue;
  margin: 2px;
  text-align: center;
}
